<div class="appbar">
    <ul>
        <li class="app_blog"><a href="blog.do"><span>日志</span></a></li>
        <li class="app_album"><a href="album.do"><span>相册</span></a></li>
        <li class="app_document"><a href="document.do"><span>文件</span></a></li>
        <li class="app_friend"><a href="friend.do"><span>朋友圈</span></a></li>
        <li class="app_set"><a href="userset.do"><span>设置</span></a></li>
        
        
<!--
        <li class="app_message"><a href="message.do"><span>小纸条</span></a></li>
		<li class="app_share"><a href=""><span>分享</span></a></li>
        <li class="app_group"><a href=""><span>群组</span></a></li>
        <li class="app_vote"><a href=""><span>投票</span></a></li>
-->
    </ul>
</div>
